.auth-container {
  width: 300px;
  margin: 50px auto;
  background: #1e1e1e;
  color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.auth-container h2{
  text-align: center;
  margin-bottom: 30px;
}

.auth-container input {
  display: block;
  width: 100%;
  margin: 8px 0 20px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background:#111;
  font-size: 16px;
  color: #f1f1f1;
}

.auth-container button {
  /*background: #ff9900;*/
  background:teal;
  border: none;
  padding: 10px;
  width: 100%;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom:30px;
}

.auth-container button:hover {
  background: #ffb84d;
}

.link {
  color: #ff9900;
  cursor: pointer;
  text-decoration: underline;
}

.error {
  color: red;
  margin-top: 5px;
}
