@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;

}


body, html, .App {
  height: 100%;
  margin: 0;
  background-color: hsl(0, 0%, 0%);

}


.logo-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: hsl(0, 0%, 0%);
}



.logo-fade {
  opacity: 0;
  font-size:5rem;
  /*color:#ff9900;*/
  color: teal;
  text-align:center;
font-family: "Metamorphous", serif;
  animation: logoFade 4.5s ease forwards;
  text-transform: uppercase;
}

.logo-fade-p{
  font-size:1.25rem;
    animation: logoFade 4.5s ease forwards;
    color: white;
}


@keyframes logoFade {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  40% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}


.door-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  z-index: 10;
}


.door {
  flex: 1;
  transition: transform 2s ease-in-out;

   background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
}


.left-door {
  transform: translateX(0);
  animation: openLeft 2s forwards;
}

.right-door {
  transform: translateX(0);
  animation: openRight 2s forwards;
}

@keyframes openLeft {
  to {
    transform: translateX(-100%);
  }
}

@keyframes openRight {
  to {
    transform: translateX(100%);
  }
}

.door::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.left-door::before {
  right: 0;
}

.right-door::before {
  left: 0;
}
